{% extends "base.html" %}
{% block menu_dashboard %}w3-blue{% endblock %}
{% block content %}
<header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i>&nbsp{{log_name}}</b></h5>
  </header>
<div style="padding:20px;">
	<table class="w3-table-all w3-hoverable" id="my_region_table">
<tr class="w3-blue">
<td class="w3-center">Time</td><td class="w3-center">Level</td><td class="w3-center">Log Message</td></tr>
{% for row in rows %}
    <tr>
		<td class="w3-center"> {{row[1]}}</td>
		<td class="w3-center"> {{row[2]}}</td>
		<td class="w3-center"> {{row[3]}}</td>
	</tr>
{% endfor %}
	
	</table></div>
{% endblock %}